* text=auto

*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.cc text eol=lf
*.c text eol=lf
*.cppm text eol=lf
*.mm text eol=lf

CMakeLists.txt text eol=lf
*.cmake text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.hlsl text eol=lf
*.slang text eol=lf
*.glsl text eol=lf
*.metal text eol=lf 

*.bat text eol=crlf
*.cmd text eol=crlf